.registration {
  padding: 140px 0 200px 0;
}

.registration__buttons {
  display: flex;
  justify-content: center;
  column-gap: 90px;
}

.registration__title {
  font-size: 32px;
  color: var(--color-title);
  font-weight: 600;
  margin-bottom: 50px;
  margin-left: 175px;
  font-family: "Gilroy-semibold";
}

.card {
  width: 380px;
  height: 220px;
  padding: 61px 97px 76px 50px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(205, 205, 205, 0.29);
  background: #fff;
}

.card h3 {
  font-size: 20px;
  font-weight: normal;
  color: var(--color-title);
  margin-bottom: 30px;
  font-family: "Gilroy-medium";
}

.registration__button {
  padding: 10px 24px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: var(--border-items);
  border: none;
  font-size: 16px;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
}

.registration__button:hover {
  background-color: var(--primary-color-hover);
}
