.user-profiles__info {
  display: flex;
  column-gap: 24px;
  padding: 40px 0;
}

.user-profiles__all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.user-profiles__company__title {
  font-size: 32px;
  margin-bottom: 10px;
}

.user-profiles__company__internship {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
