.registration-intern {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.registration-intern__form {
  padding: 35px 85px;
  max-width: 580px;
  margin: 10px auto;
  background-color: var(--text-color);
  border-radius: 10px;
  border: 1px solid #f3f3f3;
}

.registration-intern__button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  padding: 14px 121px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.registration-intern__button:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #404040;
}

.registration__input {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 0 0 15px 0;
  width: 100%;
  border: 0 solid #fff;
  border-bottom: 1px solid #363232;
  margin-bottom: 35px;
  font-family: "Gilroy-regular";
  font-size: 18px;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

.ololo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ololo span {
  font-size: 14px;
  text-align: center;
}

.ololo span a {
  color: var(--primary-color);
}

.checkbox {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
  margin-bottom: 40px;
}

.checkbox__square {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-right: 15px;
}

.checkbox-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
