@import "../../app/_mixins";

.container {
  @include container;
}

.registrationCompany {
  background-color: #f8f9fa;
  padding: 100px 0;

  &__form {
    padding: 35px 85px;
    max-width: 580px;
    margin: 10px auto;
    background-color: var(--text-color);
    border-radius: 10px;
    border: 1px solid #f3f3f3;
  }
}

.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-items);
  color: var(--text-color);
  padding: 14px 121px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;

  :hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
  }
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #404040;
}

.registration__input {
  border: 0;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 35px;
  outline: none;
  border-bottom: 1px solid var(--color-title);
}

.registration__input:focus {
  border-bottom: 1px solid var(--primary-color);
}

label {
  display: block;
  margin-bottom: 8px;
}

.form__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 14px;
    text-align: center;
  }

  span a {
    color: var(--primary-color);
  }
}

.checkbox {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
  margin-bottom: 40px;
}

.checkbox__square {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-right: 15px;
}

.checkbox-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
