.popular__title {
  align-items: center;
}

.current-card {
  display: flex;
  align-items: center;
  width: 380px;
  height: 284px;
  padding: 32px 18px;
  margin-bottom: 20px;
  border-radius: var(--border-items);
  box-shadow: 2px 2px 4px rgba(61, 105, 16, 0.5);
}

.popular__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-title);
}

span {
  font-size: 18px;
}

.current-card__top__logo__comapny {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  column-gap: 10px;
}

.current-card__top__logo__comapny h4 {
  font-family: "Gilroy-semibold";
  font-size: 18px;
  margin-bottom: 4px;
}

.location {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.location span {
  font-family: "Gilroy-regular";
  font-size: 14px;
}

.current-card__button {
  display: flex;
  column-gap: 20px;
}

.card-middle {
  margin-bottom: 15px;
}

.current-card__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.current-card__top__logo {
  display: flex;
  column-gap: 24px;
}

.current-card__info_title {
  font-size: 18px;
  font-family: "Gilroy-semibold";
  font-weight: 700;
}
.current-card__info {
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
  margin-bottom: 28px;
}

.current-card__info__item-small {
  background-color: #ebf0f3;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 2px;
  font-family: "Gilroy-regular";
}

.current-card__info__item-small span {
  font-size: 12px;
  color: #333333;
  font-weight: 600;
}

.button-respond {
  background-color: var(--primary-color);
  padding: 5px 36px;
  color: var(--text-color);
  border: none;
  border-radius: var(--border-items);
  font-size: 14px;
  font-family: "Gilroy-medium";
  margin-right: 30px;
  cursor: pointer;
}

.button-more {
  background-color: var(--text-color);
  padding: 5px 36px;
  color: var(--primary-color);
  border: none;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-items);
  font-size: 14px;
  font-family: "Gilroy-medium";
  cursor: pointer;
}
