.header {
  background-color: var(--text-color);
}

.header__logo {
  color: aquamarine;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header__nav__intern {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  justify-content: flex-end;
  margin-left: 20px;
}

.header__nav__intern ul {
  display: flex;
  align-items: center;
}

.header__nav__intern ul li {
  font-family: "Gilroy-bold";
  font-size: 18px;
  list-style-type: none;
  margin-left: 20px;
}

.header__nav__item:hover {
  color: var(--primary-color);
}

.header__nav-btn {
  background-color: var(--primary-color);
  padding: 8px 20px;
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.header__nav-btn:hover {
  color: var(--text-color);
}

.header__nav-btn:hover {
  background-color: var(--primary-color-hover);
  color: var(--text-color);
  border: none;
}

.active {
  color: var(--primary-color);
}
