.internship {
  padding: 40px 80px;
  margin: 90px 0;
  background-color: var(--text-color);
  border-radius: 10px;
}

.internship__title h4 {
  font-size: 30px;
  text-transform: uppercase;
  color: #363232;
  margin-bottom: 5px;
}

.internship__title h5 {
  font-size: 14px;
  font-weight: normal;
}

.internship__title {
  margin-bottom: 15px;
}

.internship__card-info {
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
  margin-bottom: 24px;
}

.internship__card-info__item {
  background-color: #ebf0f3;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 2px;
}

.internship__card-info__item span {
  font-size: 12px;
}

.internship__skills span {
  font-size: 18px;
  font-weight: normal;
}

.internship__conditions span {
  font-size: 18px;
  font-weight: normal;
}

.internship__time-salary {
  display: flex;
  column-gap: 46px;
  margin-bottom: 25px;
}

.internship__time-salary__all p {
  font-size: 18px;
  font-weight: 600;
}

.internship__time-salary__all span {
  font-size: 14px;
}

.internship__skills {
  margin-bottom: 25px;
}

.internship__conditions {
  margin-bottom: 40px;
}

.internship__button {
  font-size: 18px;
  padding: 15px 28px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
}

.internship__time-salary__all__title {
  margin-bottom: 5px;
}

.internship__skills__title {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Gilroy-medium";
}
