.user-profiles__info {
  display: flex;
  column-gap: 24px;
  padding: 40px 0;
}

.user-profiles__wrapper {
  padding: 40px;
  border-radius: 20px;
  background-color: var(--text-color);
}

.user-profiles__student__title {
  font-size: 26px;
  color: #434242;
  margin-bottom: 10px;
  font-family: "Gilroy-bold";
}

.user-profiles__student__description {
  width: 800px;
  height: 80px;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 8px;
  color: #181818;
  font-weight: 600;
  opacity: 0.5;
  margin-bottom: 20px;
}

.user-profiles__active-internhip {
  font-size: 22px;
  font-weight: 700;
  margin-left: 310px;
}

.user-profiles__favorite-internhip {
  margin-bottom: 38px;
}

.user-profile__skills {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
  margin-left: 310px;
  margin-bottom: 25px;
}

.skills {
  width: 430px;
  height: 168px;
  background-color: var(--text-color);
  padding: 15px 26px;
  border-radius: 20px;
}

.skills__hard-soft {
  font-family: "Gilroy-bold";
  font-size: 18px;
}

.button-resume {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 280px;
  font-size: 18px;
  padding: 10px 18px;
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  margin-top: 20px;
  font-family: "Gilroy-semibold";
}

.user-profiles__student__person-info p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #363232;
}

.user-profiles__student__person-info p:last-child {
  margin-bottom: 0;
}
