* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

:root {
  --primary-color: #20c6b1;
  --primary-color-hover: #28dac2;
  --text-color: #ffffff;
  --background-color: #eff1f3;
  --border-items: 4px;
  --color-title: #363232;
  --box-shadow: 0 2px 3px 0 rgba(205, 205, 205, 0.29);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.App {
  background-color: var(--background-color);
  font-family: "Gilroy-regular";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #404040;
  font-weight: 600;
}

button:hover {
  background-color: var(--primary-color-hover);
  color: var(--text-color);
}

.toastify {
  width: 400px;
  margin-top: 20px;
}
