.user {
  width: 430px;
  color: #404040;
  display: flex;
  align-items: center;
  background-color: var(--text-color);
  border-radius: var(--border-items);
  padding: 25px 35px;
  margin-bottom: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.user span {
  font-family: "Gilroy-semibold";
  margin-left: 25px;
}
