.main_part {
  width: 100%;
  background: url("./../../assets/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 630px;
}

.main__title-uppercarse {
  font-size: 62px;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 30px;
  font-family: "Lato-semibold";
  line-height: 120%;
}

.title-introduction {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 60px;
  font-family: "Gilroy-regular";
  line-height: 150%;
}

.main__button {
  font-size: 22px;
  font-family: "Gilroy-semibold";
  padding: 15px 67px;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-items);
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
