.resume-title {
  font-size: 26px;
  font-family: "Gilroy-medium";
  margin: 40px 0;
  text-align: center;
  color: #404040;
}

.registration-intern {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.resume-internship__form {
  padding: 50px 100px;
  max-width: 980px;
  background-color: var(--text-color);
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  margin: auto;
  margin-bottom: 40px;
}

.registration-intern__button {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-items);
  color: var(--text-color);
  padding: 14px 121px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.registration-intern__button:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

.resume-input,
select {
  border-radius: var(--border-items);
  background-color: var(--text-color);
  border: 1px solid rgba(54, 50, 50, 0.5);
  font-size: 18px;
  padding: 15px;
  width: 100%;
  color: var(--color-title);
  margin-bottom: 30px;
}

.resume-button {
  padding: 8px 56px;
  border-radius: var(--border-items);
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 18px;
  margin: 0 auto;
  display: block;
}
