.favorite-internships {
  margin-left: 318px;
  padding-bottom: 50px;
}

.favorite-internships__title {
  font-size: 22px;
  font-family: "Gilroy-medium";
  margin: 60px 0 15px 0;
}

.p-carousel {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
}

.p-carousel-items-content {
  padding: 10px 0 0 5px;
}

.p-carousel-item {
  margin-left: 5px;
}

.p-carousel-item {
  margin-left: 5px;
}

/* .p-carousel-item {
  flex: 0;
} */

.p-carousel .p-carousel-item {
  /* flex: 1 1 60%; */
  /* margin-right: 10px; */
}
