.favorite-internships {
  margin-left: 318px;
  padding-bottom: 50px;
}

.favorite-internships__title {
  font-size: 22px;
  font-family: "Gilroy-medium";
  margin-bottom: 20px;
}

.p-carousel {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
}

.p-carousel-items-content {
  padding: 10px 0 0 5px;
}

.p-carousel-item {
  margin-left: 5px;
}

.p-carousel-item {
  margin-left: 5px;
}
