.user-profiles__favorite-internhip {
  font-size: 22px;
  font-family: "Gilroy-medium";
}
.favorite__interns {
  margin-left: 310px;
}

.favorite__interns__card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.favorite__interns__more__item {
  width: 50px;
  height: 50px;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.favorite__interns__more {
  display: flex;
  column-gap: 10px;
  margin-bottom: 45px;
}
