.instructions {
  position: relative;
  bottom: 50px;
}

.instructions__block {
  display: flex;
  height: 176px;
  width: 1020px;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0 auto;
}

.instructions__block__item {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions__block__item__user {
  margin-top: 15px;
}

.instructions__block__item__letter {
  margin-top: 7px;
}
hr {
  height: 176px;
  border: 1px solid #e8e8e8;
}

.instructions__block__item__text {
  font-family: "Gilroy-semibold";
  margin-top: 20px;
}
