.header {
  background-color: var(--text-color);
}

.header__logo {
  color: aquamarine;
}

/* .container {
  width: 1180px;
  margin: 0 auto;
} */

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.header__nav ul {
  display: flex;
  align-items: flex-end;
}

.header__nav ul li {
  list-style-type: none;
  margin-left: 20px;
}

.header__nav li a:hover {
  color: var(--primary-color);
}

.header__nav-btn {
  background-color: var(--primary-color);
  padding: 8px 20px;
  width: 40px;
  height: 22px;
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.header__nav-btn:hover {
  background-color: var(--primary-color-hover);
  color: var(--text-color);
  border: none;
}
