.company-profiles__info {
  display: flex;
  column-gap: 24px;
  padding: 40px 0;
}

.company-profiles__wrapper {
  padding: 30px;
  height: 285px;
  border-radius: 15px;
  background-color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.company-profiles__company__title {
  font-size: 28px;
  font-family: "Gilroy-bold";
  margin-bottom: 10px;
  color: #181818;
}

.company-profiles__company p {
  background-color: #f8f9fa;
  width: 800px;
  height: 150px;
  border-radius: 5px;
  padding: 15px;
  color: #181818;
  font-weight: 600;
  opacity: 0.5;
  word-wrap: break-word;
}

.company-profiles__active-internhip {
  display: flex;
  column-gap: 30px;
  margin-bottom: 20px;
}

.company-profiles__active-internhip__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Gilroy-bold";
}

.company-profiles__active-internhip__active {
  margin-left: 310px;
}
