@import "../../app/_mixins";

.container {
  @include container;
}

.information {
  display: flex;
  column-gap: 24px;
  margin: 50px 0 70px 0;
  height: 800px;
}

.all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.user-profiles__company__title {
  font-size: 32px;
  font-family: "Gilroy-bold";
  margin-bottom: 10px;
}

.user-profiles__company__internship {
  font-size: 22px;
  font-family: "Gilroy-medium";
  margin-bottom: 30px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
