.footer {
  height: 225px;
  background-color: #28dac2;
  color: white;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 18px 0;
}

.footer__left-part {
  display: flex;
}

.footer__logo {
  margin-right: 88px;
}

.footer__menu {
  display: flex;
}

.footer__menu ul li {
  list-style-type: none;
  margin-bottom: 4px;
}

.footer__menu ul li a {
  color: var(--text-color);
  font-family: "Gilroy-semibold";
  font-size: 14px;
}

.footer_info {
  font-family: "Gilroy-regular";
  text-align: center;
}

.footer__title {
  font-size: 16px;
  font-family: "Gilroy-semibold";
}

.footer__text {
  font-size: 14px;
  font-family: "Gilroy-semibold";
  margin-bottom: 4px;
}

.logo__text {
  font-size: 14px;
  font-family: "Gilroy-semibold";
}

.footer__right-part__contacts {
  margin-top: 10px;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  margin-top: 15px;
}

.footer_nav2 ul li {
  list-style-type: none;
}
