.internship-filter {
  margin: 40px;
}

.internship-filter__items {
  display: flex;
  column-gap: 20px;
}

.filter {
  display: flex;
  padding: 25px;
  flex-direction: column;
  border-radius: 5px;
  width: 290px;
  height: 860px;
  background-color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.filter label {
  color: #393f47;
  font-size: 16px;
}

.brand {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.specialization,
.direction,
.work,
.work_time {
  margin-bottom: 20px;
}

.filter_title {
  font-size: 18px;
  font-weight: 600;
  color: #141414;
  margin-bottom: 12px;
  font-family: "Gilroy-semibold";
}

.filter-reset {
  font-size: 18px;
  color: var(--color-title);
}

.checkbox-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  accent-color: var(--primary-color);
  margin-top: 2px;
}

.checkbox-filter:last-child {
  margin-bottom: 0px;
}

.checkbox-filter input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-bottom: 7px;
  margin-top: 2px;
}

.checkbox label {
  margin-left: 5px;
}
