.applications {
  margin: 40px 0;
}

.intern-applications__title {
  font-size: 26px;
  font-family: "Gilroy-medium";
  color: #404040;
  margin-bottom: 20px;
}

.applications__title {
  font-size: 18px;
  font-family: "Gilroy-regular";
  color: #404040;
  margin-bottom: 20px;
}
