.footer {
  height: 200px;
  background-color: #28dac2;
  color: white;
  margin-top: auto;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 18px 0;
}

.footer__left-part {
  display: flex;
}

.footer__menu {
  display: flex;
}

.footer__menu ul li {
  list-style-type: none;
  margin-bottom: 4px;
}

.footer__menu ul li a {
  color: var(--text-color);
  font-family: "Gilroy-semibold";
  font-size: 14px;
}

.footer_info {
  font-family: "Gilroy-regular";
  text-align: center;
}
